
.box {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--green);
    font-weight: 600;
    color: var(--light);
  }
  
  .circle {
    width: 100px;
    height: 100px;
    border-radius: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--purple);
    font-weight: 600;
    color: var(--light);
  }
  
  .App {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  @import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap");

:root {
  --dark: #1d1d1d;
  --grey-dark: #414141;
  --light: #fff;
  --mid: #ededed;
  --grey: #989898;
  --gray: #989898;
  --green: #28a92b;
  --green-dark: #4e9815;
  --green-light: #6fb936;
  --blue: #2c7ad2;
  --purple: #8d3dae;
  --red: #c82736;
  --orange: #e77614;
  accent-color: var(--green);
}

body {
  min-height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  color: var(--light);
  font-family: "Signika Negative", sans-serif;
  margin: 0;
  line-height: 1.45;
  text-align: center;
}

.box {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #28a92b;
  font-weight: 600;
  color: #fff;
  position: absolute;
}

.svg {
  display: block;
  width: 256px;
  height: 256px;
  margin: 0 auto;
}

.circle {
  fill: #28a92b;
}
